.carousel-container {
  overflow: hidden;

  .movie-carousel {
    width: 95%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 12px;
    padding-bottom: 20px;
  }

  .movie-item {
    flex: 0 0 auto;
    width: 150px;
    height: 222px;
    border: 1px solid #090808;
    border-radius: 5px;
    overflow: hidden;
  }

  .activeMovie {
    border: 1px solid purple;
  }

  .movie-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
